body {
  max-width: 50em;
  margin: 0 auto;
  padding: 4em 1em;
  font-family: "Inconsolata", monospace;
  color: #555;
  line-height: 1.5;
}

.main-container {
  background-color: #ddd;
  padding: 1em 2em;
}

h1 {
  color: #111;
  }

h2 {
  color: #333;
}

table {
  font-family: "Arial", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #bbb;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ccc;
}
